body {
    background-color: black;
    color: #f00;
}

button {
    border: 0;
    color: #d10707;
    background-color: #3a1c1c;
}

#new, #save, #drop {
    display: none;
}

#main {
    text-align: center;
}

table.multiverse {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}

table.multiverse td, table.multiverse tr {
    padding: 1px;
    line-height: 0;
}

table.multiverse tr {
    padding: 0;
    line-height: 0;
}

table.multiverse, table.universe {
    table-layout: fixed;
    display: inline;
}

.cell {
    background: #2c2c2c;
    width: 12px;
    min-width: 12px;
    height: 12px;
    min-height: 12px;
}

.editable {
    background: #434343;
}

.wizardWrapper {
    text-align: center;
}

.wizard {
    display: inline;
}